body {
    background-color: #333333;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

